{% extends 'base.html' %}
{% load static %}

{% block body %}
    <h1>Welcome {{ user.username }}</h1>
    <img src="{% static profile_avatar %}" alt="Profile Image" width="150" height="150"/>
    <ul>
        <li>Name: {{ user.get_full_name }}</li>
        <li>Birth Date: {{ user.profile.birth_date }}</li>
        <li>Bio: {{ user.profile.bio }}</li>
    </ul>

    {% if user.is_authenticated %}
        <p>you are authenticated</p>
        <a class="btn btn-warning" href="{% url 'update_profile' %}">Edit Profile</a>
    {% endif %}

    {% if user.profile.role == 2 %}
        <p>you are a Trainer</p>
        <h3> Your clients:  </h3>
        {% for trainer in CTtable %}
        <h3> <b>{{ trainer.client }}</b> </h3>
        {% endfor %}

    {% elif user.profile.role == 1 %}
        <p>you are a Dietician</p>

    {% elif user.profile.role == 0 %}
        <p>you are a Client</p>

        {% if CTtable%}
        <a class="btn btn-success" href="{% url 'update_client_form' %}">Change Trainer</a>
        {% else %}
        <a class="btn btn-success" href="{% url 'add_client_form' %}">Request Trainer</a>
        {% endif %}

        {% for trainer in CTtable %}
        <h3> Your trainer is <b>{{ trainer.trainer }}</b> </h3>
        {% endfor %}
    {% endif %}



{% endblock %}
