{% extends 'base.html' %}

{% block body %}
    {% load crispy_forms_tags %}
    <div class="container py-2 mt-3" style="max-width: 50%;">
        <h1 class="text-center">Register</h1>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
            <div class="text-center py-2">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
        <div class="text-center">
            <span>Already have an account?<a href="{% url 'login' %}"> Login Here</a></span>
        </div>
    </div>
{% endblock %}