{% extends 'base.html' %}

{% block body %}
    <h1>Workout log for {{ user.username }}</h1>
    {% for workout in workouts %}
        <h3>{{ workout.exercise_name }}</h3>
        <h6>{{ workout.workout_type }}</h6>
        <h6>{{ workout.muscle_group }}</h6>
        <h6>Reps: {{ workout.reps }}</h6>
        <h6>Sets: {{ workout.sets }}</h6>
            {% if workout.weight in prs %}
                <h6 style="color: red;">Weight: {{ workout.weight }} (PR)</h6>
        {% else %}
            <h6>Weight: {{ workout.weight }}</h6>
        {% endif %}
        <br>
    {% endfor %}
{% endblock %}
