{% extends 'base.html' %}

{% block body %}
    <h1 class="text-center mt-5">Fitness</h1>
    <div class="container p-0">
        <div class="row pb-1">
            <div class="col-md-12 text-end">
                <button class="btn btn-success text-light" href="{% url 'workout_form' %}" type="submit">New</button>
                <button class="btn btn-info text-light" href="{% url 'request_trainer' %}" type="submit">Request Trainer</button>
            </div>
        </div>
        {% for workout in workout %}
            <div class="card">
              <div class="card-header">
                  <h4>{{ workout.exercise_name }}</h4>
              </div>
              <div class="card-body">
                  <h5>Workout Information</h5>
                <p class="card-text">
                    <li style="list-style-type: none"><strong>Workout Type:</strong> {{ workout.workout_type }}</li>
                    <li style="list-style-type: none"><strong>Muscle Group:</strong> {{ workout.muscle_group }}</li>
                    <li style="list-style-type: none"><strong>Reps:</strong> {{ workout.reps }}</li>
                    <li style="list-style-type: none"><strong>Sets:</strong> {{ workout.sets }}</li>
                    <li style="list-style-type: none"><strong>Weight:</strong> {{ workout.weight }}</li>
                </p>
                  <a href="{% url 'edit_workout' workout.id %}">
                      <button class="btn btn-warning text-light">Edit</button>
                  </a>
                  <a href="{% url 'delete_workout' workout.id %}">
                      <button class="btn btn-danger">Delete</button>
                  </a>
              </div>
            </div>
        <br><br>
    {% endfor %}

            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'My Workout Summary'],
          ['Reps',      2],
          ['Sets',  2],
          ['Weight', 2 ],
        ]);

        var options = {
          title: 'My Workout Summary'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
     <div id="piechart" style="width: 900px; height: 500px; padding: 25px;"></div>
</div>

    <div class="container justify-content-end">
        <div class="row pb-3">
            <div class="col-md-12">
                <button class="btn btn-success" type="">New</button>
                {% comment %} <a class="btn btn-info" href="{% url 'add_client_form' %}">Request Trainer</a> {% endcomment %}
                {% comment %} <a href="{% url 'add_client_form' %}" class="nav-item"> Request </a> {% endcomment %}

                {% if CTtable%}

                    <a class="btn btn-success" href="{% url 'update_client_form' %}">Change Trainer</a>
                {% else %}
                    <a class="btn btn-success" href="{% url 'add_client_form' %}">Request Trainer</a>
                {% endif %}

                {% for trainer in CTtable %}
                    <h3> Your trainer is <b>{{ trainer.trainer }}</b> </h3>
                {% endfor %}


            </div>
            <div class="col-md-8"></div>
        </div>
    </div>
{% endblock %}
