{% extends 'base.html' %}

{% block body %}
<div class="container py-2 my-3">
    <h1 class="text-center py-2">Workout logs available:</h1>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped text-center">
                <thead class="bg-dark text-light">
                    <tr>
                        <th scope="col">Client</th>
                        <th scope="col">Date</th>
                        <th scope="col">Exercise Name</th>
                        <th scope="col">Workout Type</th>
                        <th scope="col">Muscle Group</th>
                        <th scope="col">Reps</th>
                        <th scope="col">Sets</th>
                        <th scope="col">Weight</th>
                    </tr>
                </thead>
                <tbody>
                    {% for workout in workouts %}
                        {% for CT in CTtable %}
                            {% if workout.user == CT.client  %}
                                <tr>
<!--                                <p>you ( {{user}} ) are ASSIGNED TRAINER for {{ CT.client }} </p>-->
                                    <td>{{ workout.user }}</td>
                                    <td>{{ workout.created_at }}</td>
                                    <td>{{ workout.exercise_name }}</td>
                                    <td>{{ workout.workout_type }}</td>
                                    <td>{{ workout.muscle_group }}</td>
                                    <td>{{ workout.reps }}</td>
                                    <td>{{ workout.sets }}</td>
                                    <td>{{ workout.weight }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center py-2">
        <a href="{% url 'trainer_home' %}" class="btn btn-danger">Go Back</a>
    </div>
</div>
{% endblock %}
