{% extends 'base.html' %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center py-2">Workout logs available:</h1>

    {% for workout in workouts %}
        {% for CT in CTtable %}
            {% comment %} <h3>{{ CT }} :</h3>
            <h5>client: {{ CT.client }}</h5>
            <h5>trainer: {{ CT.trainer}}</h5> {% endcomment %}

            {% if workout.user == CT.client  %}
                <p>you ( {{user}} ) are ASSIGNED TRAINER for {{ CT.client }} </p>
                <h3>{{ workout.user }} :</h3>
                <h5>{{ workout.name }}</h5>

                <div>Workout Type: {{ workout.workout_type }}</div>
                <div>Muscle Group: {{ workout.muscle_group }}</div>
                <div>Exercise Name: {{ workout.exercise_name }}</div>
                <div>Reps: {{ workout.reps }}</div>
                <div>Sets: {{ workout.sets }}</div>
                <div>Weight: {{ workout.weight }}</div>

                <hr>

            {% endif %}
        {% endfor %}
    {% endfor %}

</div>

{% endblock %}
