{% extends 'base.html' %}

{% block body %}
<h1 style="text-align: center; margin-top: 50px">Personal Trainers</h1>

<div class="container p-0">
<div class="row py-3">
     <div class="col-md-12 text-center h6"></div>
</div>
<div class="row pb-1">
        <div class="col-md-12 text-center h6">
            Mr. Trainer
            <button class="btn btn-warning" style="color: white; margin-left: 50px" type="submit">Request</button>
        </div>
</div>

<div class="row pb-1">
        <div class="col-md-12 text-center h6">
            Fitch Ness
            <button class="btn btn-warning" style="color: white; margin-left: 50px" type="submit">Request</button>
        </div>
</div>
</div>
{% endblock %}

