{% extends 'base.html' %}
{% block body %}
{% load crispy_forms_tags %}

<div class="container py-2 my-3" style="max-width: 50%;" >
    <h1>Update trainer</h1>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button class="btn btn-primary my-2" type="submit">Confirm</button>
    </form>
</div>

<div class="container py-2 my-3" style="max-width: 50%;" >

    <h1>Available Trainers:</h1>
    <hr>
    {% for trainer in listTrainers %}
        <h5><b>{{ trainer.user }}</b> : {{ trainer.user.get_full_name }}</h5>
        <p>{{ trainer.bio }}</p>
        <hr>
    {% endfor %}
</div>
{% endblock %}

