{% extends 'base.html' %}

{% block body %}
    <h1 class="contianer text-center mt-2">Workout log for {{ user.username }}</h1>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped text-center">
                    <thead class="bg-dark text-light">
                        <tr>
                            <th scope="col">Exercise</th>
                            <th scope="col">Type</th>
                            <th scope="col">Muscle Group</th>
                            <th scope="col">Sets</th>
                            <th scope="col">Reps</th>
                            <th scope="col">Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for workout in workouts %}
                            <tr>
                                <td>{{ workout.exercise_name }}</td>
                                <td>{{ workout.workout_type }}</td>
                                <td>{{ workout.muscle_group }}</td>
                                <td>{{ workout.sets }}</td>
                                <td>{{ workout.reps }}</td>
                                {% if workout.weight in prs %}
                                    <td class="text-red">{{ workout.weight }} (PR)</td>
                                {% else %}
                                    <td>{{ workout.weight }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
