{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container py-2 my-3">
    <h1 class="text-center">Display Guides</h1>
    <div class="text-center">
        <h4 class="lead">View posted material here!</h4>
        <hr class="my-4">
        <img src="{% static user_pr %}" class="image_responsive" max-width="100%">
        <div class="text-center py-2">
            <a href="{% url 'rooms' %}" class="btn btn-danger">Go Back</a>
        </div>
    </div>
</div>
{% endblock %}
