{% extends 'base.html' %}
{% block body %}
{% load crispy_forms_tags %}

<div class="container py-2 my-3" style="max-width: 50%;" >
    <h1>Add Dietitian</h1>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button class="btn btn-primary my-2" type="submit">Confirm</button>
    </form>
</div>

<div class="container py-2 my-3" style="max-width: 50%;">

    <h1>Available Dietitians:</h1>
    <hr>
    {% for dietitian in listAllDieticians %}
        <h5><b>{{ dietitian.user }}</b> : {{ dietitian.user.get_full_name }}</h5>
        <p>{{ dietitian.bio }}</p>
        <hr>
    {% endfor %}
</div>
{% endblock %}
