{% extends 'base.html' %}

{% block body %}
<div class="container py-2 my-3" style="max-width: 50%;">
    <h1 class="text-center">Dietitian Home</h1>
    <div class="text-center h4 py-2">
            My Clients
    </div>
    <div class="my-2">
        {% for d in CDtable %}
            <div class="row">
                <div class="col-md-6 text-center">{{ d.client }}</div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-warning text-light" href="{% url 'delete_diet_form' d.id %}">Remove Client</a>
                </div>
            </div>
            <hr>
        {% endfor %}
        <div class="text-center py-2">
            <a href="{% url 'trainer_meal_data' %}" class="btn btn-success">Meal logs</a>
        </div>
    </div>
</div>
{% endblock %}