{% extends 'base.html' %}

{% block body %}
<h1>Dietitian Home</h1>
<h1 style="text-align: center; margin-top: 50px">Clients</h1>

<div class="container p-0" style="margin-left: 3px">

    <div class="row pb-1" style="text-align: center">
            <div class="col-md-6 text-center h4" >
                My Clients
            </div>
            {% comment %} <div class="col-md-3 text-center h4">
                Client Requests
            </div> {% endcomment %}
    </div>
</div>

<div class="container p-0">

    <h2>Name: {{ user.get_full_name }}</h2>
    <h3>Username: {{ user.username }}</h3>


        {% if user.is_authenticated %}
        <p>you are authenticated</p>
        {% endif %}
        {% if user.profile.role == 1 %}
        <p>you are a Dietitian</p>
        {% endif %}

    <h4> Your clients:  </h4>
        {% for d in CDtable %}
            <div> {{ d.client }} </div>

            <a class="btn btn-sm btn-warning" href="{% url 'delete_diet_form' d.id %}">Remove Client</a>

            <p></p>
        {% endfor %}

        <br>
        <a href="{% url 'trainer_meal_data' %}" class="btn btn-success"> Available Meal logs </a>
</div>


{% endblock %}