{% extends 'base.html' %}

{% block body %}
    <h1 class="text-center mt-5">Diet</h1>
    <div class="container p-0">
        <div class="row pb-1">
            <div class="col-md-12 h6" >
                <a href="{% url 'meal_form' %}"><button class="btn btn-success text-light" type="submit">New</button></a>
                <a href="{% url 'request_dietician' %}"><button class="btn btn-info text-light" type="submit">Request Dietician</button></a>
                <h6 class="d-inline btn justify-content-end bg-light">Today's Calories: {{ total }}</h6>
            </div>
        </div>

        {% for meal in meal %}
            <div class="card">
              <div class="card-header">
                  <h4>{{ meal.meal_name }}</h4>
              </div>
              <div class="card-body">
                  <h5>Meal Information</h5>
                <p class="card-text">
                    <li style="list-style-type: none"><strong>Meal Type:</strong> {{ meal.meal_type }}</li>
                    <li style="list-style-type: none"><strong>Calories:</strong> {{ meal.calories }}</li>
                    <li style="list-style-type: none"><strong>Carbs:</strong> {{ meal.carbs }}</li>
                    <li style="list-style-type: none"><strong>Sugars:</strong> {{ meal.sugars }}</li>
                    <li style="list-style-type: none"><strong>Protein:</strong> {{ meal.protein }}</li>
                </p>
                  <a href="{% url 'edit_meal' meal.id %}">
                      <button class="btn btn-warning text-light">Edit</button>
                  </a>
                  <a href="{% url 'delete_meal' meal.id %}">
                      <button class="btn btn-danger text-light">Delete</button>
                  </a>
              </div>
            </div>
            <br><br>
        {% endfor %}
</div>
{% endblock %}
