{% extends 'base.html' %}

{% block body %}
    <h1>Meal log for {{ user.username }}</h1>
    <div style="display: grid; grid-template-columns: auto auto auto;; padding: 10px;">
    {% for meal in meals %}
        <div style="margin-bottom: 20px;">
            <div style="font-weight: bold;">{{ meal.meal_name }}</div>
            <div>{{ meal.meal_type }}</div>
            <div>Calories: {{ meal.calories }}</div>
            <div>Carbs: {{ meal.carbs }}</div>
            <div>Sugars: {{ meal.sugars }}</div>
            <div>Protein: {{ meal.protein }}</div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
