{% extends 'base.html' %}

{% block body %}
 <h1>Enter Meal Information</h1>
 <h3>
  <a href="{% url 'diet_home' %}" style="text-decoration: none; color: limegreen;">Back</a>
 </h3>
<form action="/diet/meal_form/" method="post">
    {% csrf_token %}
    <div style="margin-left: 20px;">
        <br>
        <div>Meal Name: {{ form.name }}</div>
        <br>
        <div>Meal Type: {{ form.meal_type }}</div>
        <br>
        <div>Calories: {{ form.calories }}</div>
        <br>
        <div>Carbs: {{ form.carbs }}</div>
        <br>
        <div>Sugars: {{ form.sugars }}</div>
        <br>
        <div>Protein: {{ form.protein }}</div>
        <br>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

{% endblock %}