{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
<h1>Log In</h1>

<main class="main">
    <section class="row">
        <form action="" method="post">
            {% csrf_token %}
            {% include 'uam/_form.html' with form=form %}
            <button class="btn btn-primary mt-2" id="id_login" type="submit">Log in</button>
        </form>
    </section>
    <section class="row mt-2">
        <p>Don't have an account? Go ahead and <a href="{% url 'register' %}" id="id_register">register</a>!</p>
    </section>
</main>
{% endblock %}